::selection {
    background-color: var(--color-secondary);
  }
  
  @import "1.reset";
  @import "2.variables";
  @import "3.utilities";
  @import "4.header";
  @import "5.showcase";
  @import "6.motto";
  @import "7.features";
  @import "8.trainers";
  @import "9.testimonials";
  @import "10.clients";
  @import "11.register";
  @import "12.footer";
  
//*-*-*-*-*-*- Dark Mode Smooth Transition For All HTML Elements -*-*-*-*-*-*-*
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}
